*.json
*.code-workspace
*.out
*.pdf
*.csv
data/
Proposal/
anfangsnotizen/
Metriken/
group_meeting/
venv/
*.ipynb
*.h5
*.pdf
uncertainty/
.ipynb_checkpoints/
__pycache__/
ekp_style/
timeline/
plots/
pytorch_tut/
Timeline/
